.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity)) /* #f1f5f9 */;
}
.text-xs {
  font-size: 0.9rem;
}
.font-bold {
  font-weight: 950;
}
.rounded-lg {
  border-radius: 0.5rem /* 8px */;
}
.border-pink-500 {
  --tw-border-opacity: 1;
  border-color: rgb(231 70 148 / var(--tw-border-opacity)) /* #e74694 */;
}
.border {
  border-width: 1px;
}
.wholesale-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 12px;
}

.wholesale-div > div {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 18px 12px;
  justify-content: space-around;
}
