.div1 {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url("/img/est/1.svg");
    background: #dacddc;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div1 h3 {
    color: #d90268;
    size: 12px !important;
}

.div1 strong {
    color: #000000;
    size: 12px;
    padding: 10px;
}

.div2 {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div3 {
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.div3 img {
    width: 86px;
    height: 86px;
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.div3 span {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 1;
    padding-top: 10px;
}

.div4 {
    flex-direction: column;
    display: flex;
    position: relative;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #E0E0E2;
    padding: 20px 20px 20px 20px;
    align-content: center;
    align-items: center;
}

.div6 {
    flex-direction: column;
    display: flex;
    position: relative;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E0E0E2;
    padding: 20px 20px 20px 20px;
    align-content: center;
    align-items: center;
}

.div7 {
    flex-direction: column;
    display: flex;
    position: relative;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #E0E0E2;
    padding: 20px 20px 20px 20px;
    align-content: center;
    align-items: center;
}

.div8 {
    flex-direction: column;
    display: flex;
    position: relative;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #E0E0E2;
    padding: 20px 20px 20px 20px;
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .div3 {
        flex-direction: column;
        align-items: center;
    }
    .div4 {
        border: none;
    }
    .div6 {
        border: none;
    }
    .div7 {
        border: none;
    }
    .div8 {
        border: none;
    }
}

.div5 {
    flex-direction: column;
    display: flex;
    position: relative;
    display: flex;
    padding: 30px;
}

.div9 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.wrapScroll {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.div9 span {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    padding: 40px 20px;
}

.div10 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: flex-start;
}

.div11 {
    align-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    flex-direction: column;
}

.state {
    width: 50%;
    float: left;
    padding-left: 3px
}

.state textarea {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-size: 12px;
    border-color: #f1f1f1;
    background: #f1f1f1;
}

.est {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
}

.est .header {
    width: 100%;
    height: auto;
    border: 1px #d90268 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.est .header .title-w {
    color: #d90268;
    font-size: 14;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.est .header .des {
    color: #233462;
    font-size: 14;
}

.est .title {
    margin-bottom: 50px;
}

.est .title h5 {
    font-weight: 600;
}

.est .info-box form .item {
    position: relative;
    margin-bottom: 20px;
}

.est .info-box form label {
    display: block;
    margin-bottom: 5px;
    padding-right: 10px;
    font-size: 12px;
    color: #455a64;
}

.est .info-box form span {
    display: block;
    margin-bottom: 5px;
    padding-right: 10px;
    color: #832258;
    font-size: 10px;
}

.est .info-box form a:hover {
    color: #233462;
}

.est .info-box form input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    border-color: #455a64;
    background: #f1f1f1;
}

.est .info-box form input:focus {
    border-color: #832258;
    box-shadow: none;
}

.est .info-box form select {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    border-color: #455a64;
    background: #f1f1f1;
    cursor: pointer;
}

.est .info-box form select:focus {
    border-color: #832258;
    box-shadow: none;
}

.est .info-box form .item .state-box {
    position: relative;
}

.est .info-box form .item .state-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.est .info-box form .item .city {
    width: 50%;
    float: left;
    padding-right: 3px
}

.est .edit-box form .item .city {
    width: 100%;
    float: left;
    padding-right: 3px
}

.est .info-box form .item .state {
    width: 50%;
    float: left;
    padding-left: 5px
}

.est .info-box form .item .state-right {
    width: 50%;
    float: right;
    padding-left: 5px
}

.est .info-box form .item textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px 10px 10px 0;
    font-size: 12px;
    border: 1px #455a64 solid;
    background: #f1f1f1;
}

.est .info-box form .line {
    border-bottom: 1px #dcdcdc solid;
    margin-bottom: 10px;
}

.est .info-box form .alert {
    background: #dacddc;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.est .info-box form .alert span {
    color: #832258;
    font-size: 12px;
    margin-right: 10px;
}

.modal-header {
    background: #233462;
}

.modal-header span {
    font-size: 14px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
}

.est .submit-action {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnsubmit {
    background: #233462;
    color: #f1f1f1;
}

.btnsubmit:hover {
    background: #832258;
    color: #000;
}