@font-face {
    font-family: 'IranYekan';
    src: url('../fonts/iranyekanwebregular.eot');
    src: url('../fonts/iranyekanwebregular.eot') format('embedded-opentype'), url('../fonts/iranyekanwebregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.insurance {
    margin: 30px 0 0px 0;
}

.insurance .faq-content .title {
    margin-bottom: 20px !important;
    padding-right: 10px;
    font-weight: 600;
}

.insurance .faq-content .faqs-grid {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #f1f1f1;
}

.insurance .faq-content .faqs-item {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #d7d7d7;
}

.insurance .faq-content .faqs-item:last-child {
    border-bottom: none;
}

.insurance .faq-content .faqs-title {
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.insurance .faq-content .active {
    color: #1e294d;
    background: #f1f1f1;
}

.faq-title:hover {
    color: #1e294d;
}

.insurance .faq-content .faqs-title i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.insurance .faq-content .faqs-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    background: #f1f1f1;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.3s ease-out;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
}

.insurance .faq-content .faqs-content-inside {
    padding: 10px 20px 20px 20px;
}

.insurance .faq-content .faqs-content-inside p {
    font-size: 14px;
}


/*---------------------*/

.flip-card-temp {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.flip-card-temp .dv-strj {
    margin: 50px;
}

.flip-card-temp strong {
    font-size: 30px;
    padding: 60px 0;
    font-weight: 700;
    color: #787878;
    text-align: center!important;
}

.flip-card {
    background-color: transparent;
    width: 315px;
    height: 330px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 60px 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.flip-card-back {
    background: linear-gradient(to right, #4364f7, #6fb1fc);
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card .flip-card-inner .flip-card-front p {
    font-family: 'IranYekan';
    font-size: 30px;
    font-weight: bolder;
}


/*---------------------*/

h3 {
    font-size: 50px;
    font-weight: 700;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.insurance_section {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: flex-end;
    background-color: #f3f3f3;
}

.insurance-mini-boxes {
    align-self: center;
}

.insurance-main-title {
    padding-right: 20px;
    font-size: 30px;
    margin-bottom: 30px !important;
    font-weight: 700;
    color: #4E5864;
}

.insurance {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: unset !important;
    margin-left: unset !important;
}

.insurance-boxes {
    background-color: #4E5864;
    color: #fff;
    text-align: center;
    position: relative;
    height: 100%;
    line-height: 20px;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
    padding: 35px 10px;
    max-height: 100px;
}

.checkmark-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-title {
    font-weight: 700;
    color: #4b4b4b;
    margin-bottom: 100px !important;
}

.text-center {
    text-align: center!important;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.justify-content-center {
    justify-content: center!important;
}

.res-img-box {
    position: relative;
}

.res-box-desc {
    color: #1d1d1d;
    text-align: center;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.res-boxes img {
    width: 130px;
    height: 130px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.res-img-box::before {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    width: 194px;
    height: 196px;
    top: 30%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    margin: 20px 0;
    transform: translate(-50%, -50%);
}

.banner {
    width: 100%;
    background-color: #f7f7f7;
    height: 100%;
    margin: 20px 0;
    padding: 50px;
}

.banner p {
    text-align: center;
    color: #1d1d1d;
    font-size: 16px;
    text-align: justify;
    line-height: 32px;
}

.show_more_btn {
    width: 240px;
    display: block;
    height: 70px;
    background: #4E5864;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    transition: all 0.3s ease;
    border: 2px solid #fff;
}

.space2 {
    position: relative;
}

.spacer {
    width: 100%;
    height: 60px;
}

.footer-img-top {
    position: absolute;
    top: auto;
    left: 50%;
    bottom: -100px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.question-mark-container {
    position: relative;
}

.question-mark-container::before {
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    width: 120px;
    height: 120px;
    top: 0%;
    left: 0px;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-10px, -10px);
}


/*------------------------------------------------------------    Login  ------------------------------------------------------------*/

.lgn {
    margin: 30px;
    width: 100%;
}

.lgn .lgn-temp .lgn-content {
    margin: 20px;
}

.lgn .lgn-temp {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.lgn .lgn-content form {
    margin-bottom: 30px;
}

.lgn .lgn-content form .title {
    display: block;
    margin-bottom: 15px;
}

.lgn .lgn-content form .title h6 {
    font-weight: 600;
}

.lgn .lgn-content form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
}

.lgn .lgn-content form input:focus {
    border-color: #1e294d;
}

.lgn .lgn-content form .forget {
    margin-bottom: 40px;
}

.lgn .lgn-content form .forget .remember {
    position: relative;
    display: block;
    float: right;
    padding-right: 20px;
    font-size: 12px;
}

.lgn .lgn-content form .forget .remember input {
    position: absolute;
    margin: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.lgn .lgn-content form .forget .remember .tick {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    right: 0;
    text-align: center;
    background: #f1f1f1;
    border-radius: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.lgn .lgn-content form .forget .remember .tick i {
    display: none;
    line-height: 16px;
    font-size: 10px;
    color: #ffffff;
}

.lgn .lgn-content form .forget .remember input:checked~.tick i {
    display: block;
}

.lgn .lgn-content form .forget .remember input:checked~.tick {
    background: #19bfd3;
}

.lgn .lgn-content form .forget a {
    float: left;
    font-size: 12px;
    color: #19bfd3;
}

.lgn .lgn-content form .forget a:hover {
    color: #1e294d;
}

.lgn .lgn-content form button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
    color: #ffffff;
    background: #1e294d;
}

.lgn .lgn-content form button:hover {
    background: #2f2f2f;
}

.lgn .lgn-content form .disposables {
    background: #19bfd3;
}

.lgn .lgn-content .bottom-link {
    display: block;
    text-align: center;
    font-size: 12px;
}

.lgn .lgn-content .bottom-link a {
    color: #19bfd3;
}

.lgn .lgn-content .bottom-link a:hover {
    color: #1e294d;
}

.lgn .lgn-content form .text {
    display: block;
    margin-bottom: 40px;
    font-size: 12px;
}

.lgn .lgn-content form .number {
    margin-bottom: 10px;
}

.lgn .lgn-content form .number input {
    width: 55px;
    height: 55px;
    margin-left: 5px !important;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin: 0;
}


/*------------------------------------------------------------*/

.menu-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-right: 0px;
    padding-right: 100px;
}

.menu-container img {
    height: 60px;
}


/*------------------------------    Responsive     ------------------------------*/

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
}