.div1 {
  display: flex;
  gap: 0.25rem;
}
.btn-2 {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  color: #ffffff;
  background: #3b0764;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.btn-2:hover {
  background: #9333ea;
}

.btn-3 {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  color: #ffffff;
  background: #d90268;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.btn-3:hover {
  background: #233462;
}
