.lc-submit {
    display: flex;
    width: 100%;
}

.lc-submit .spn-haghighi {
    cursor: pointer;
    width: 50%;
    height: 80px;
    background: #233462;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lc-submit .spn-hoghoghi {
    cursor: pointer;
    width: 50%;
    height: 80px;
    background: #233462;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lc-submit div:hover {
    background: #d90268;
}

.lc-submit span {
    color: aliceblue;
}

.address {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
}

.address .header {
    width: 100%;
    height: auto;
    border: 1px #ef6c00 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
}

.address .header .title-w {
    color: #d90268;
    font-size: 14;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.address .header .des {
    color: #455a64;
    font-size: 14;
}

.address .title {
    margin-bottom: 50px;
}

.address .title h5 {
    font-weight: 600;
}

.address .info-box form .item {
    position: relative;
    margin-bottom: 20px;
}

.address .info-box form label {
    display: block;
    margin-bottom: 5px;
    padding-right: 10px;
    font-size: 12px;
    color: #455a64;
}

.address .info-box form a {
    display: block;
    margin-bottom: 5px;
    padding-right: 10px;
    color: #d90268;
    font-size: 10px;
}

.address .info-box form a:hover {
    color: #233462;
}

.address .info-box form input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    border-color: #455a64;
    background: #f1f1f1;
}

.address .info-box form input:focus {
    border-color: #ff5858;
    box-shadow: none;
}

.address .info-box form select {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    border-color: #455a64;
    background: #f1f1f1;
    cursor: pointer;
}

.address .info-box form select:focus {
    border-color: #ff5858;
    box-shadow: none;
}

.address .info-box form .item .state-box {
    position: relative;
}

.address .info-box form .item .state-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.address .info-box form .item .city {
    width: 50%;
    float: left;
    padding-right: 3px
}

.address .edit-box form .item .city {
    width: 50%;
    float: left;
    padding-right: 3px
}

.address .info-box form .item .state {
    width: 50%;
    float: left;
    padding-left: 5px
}

.address .info-box form .item .state-right {
    width: 50%;
    float: right;
    padding-left: 5px
}

.address .info-box form .item textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px 10px 10px 0;
    font-size: 12px;
    border: 1px #455a64 solid;
    background: #f1f1f1;
}

.address .info-box form .line {
    border-bottom: 1px #dcdcdc solid;
    margin-bottom: 10px;
}

.address .info-box form .alert {
    background: #233462;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.address .info-box form .alert span {
    color: #f1f1f1;
    font-size: 12px;
    margin-right: 10px;
}

.modal-header {
    background: #233462;
}

.modal-header span {
    font-size: 14px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
}

.address .submit-action {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnsubmit {
    background: #d90268;
    color: #f1f1f1;
}

.btnsubmit:hover {
    background: #233462;
    color: #f1f1f1;
}

.main-h-login {
    border-radius: 10px;
    background: #ffffff;
}