/* start offer */

.offers {
  padding: 20px 0;
}

.offer {
  height: auto;
  border-radius: 10px;
  padding: 0px 0px 15px 0px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background: #d90268;
  width: 15px;
  height: 7px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.offer-item {
  max-height: fit-content;
  padding: 0 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.offer-discount {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  min-height: 100px;
  min-width: 140px;
  border-radius: 10px;
}

.offer-discount span {
  border-radius: 0;
  min-height: 30px;
  min-width: 137px;
  font-weight: 400;
  margin: 0;
  z-index: 9;
  background-color: #d90268;
  color: #fff;
  width: 154px;
  font-size: 16px;
  position: absolute;
  text-align: center;
  padding: 4px;
  padding-top: 30px;
  right: -46px;
  top: -15px;
  transform: rotate(35deg);
  line-height: 2;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.offer-img {
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;
}

.offer-img img {
  width: 500px;
}

.offer-content {
  text-align: center;
}

.offer-title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #f0efef;
}

.offer-title h2 {
  font-family: "titr";
  font-weight: normal;
  font-size: 18px;
  color: #444;
}

.offer-title span {
  color: #d90268;
}

.offer-desc {
  width: 100%;
  text-align: right;
}

.offer-desc .se-title h3 {
  width: 100%;
  text-align: right;
  font-size: 15px !important;
  font-weight: 600;
  margin-bottom: 5px !important;
}

.offer-desc .se-title .text-muted {
  width: 100%;
  text-align: right;
  font-size: 12px !important;
  margin-bottom: 5px !important;
}

.offer-desc .se-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.se-desc .se-desc-title {
  width: 100%;
  text-align: right;
  font-size: 14px;
  padding-top: 25px;
}

.se-desc .title {
  font-size: 14px;
  font-weight: bold;
}

.se-desc .desc {
  font-size: 14px;
}

.se-desc li {
  display: list-item !important;
}

.offer-desc .text-muted {
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 10px;
}

.offer-desc h4 {
  height: 65px;
  font-size: 22px;
  line-height: 35px;
}

.offer-desc-price {
  margin: 10px auto;
}

.offer-desc-price .old {
  font-size: 17px;
  color: #c3c1c1;
  text-decoration: line-through;
}

.offer-desc-price .new {
  font-weight: bold;
  font-size: 20px;
  color: #d90268;
}

.offer-timer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 7px 0;
}

.offer-timer-item {
  color: #d90268;
  width: 60px;
  height: 60px;
  border: 1px solid #f8f8f8;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.offer-timer-item .number {
  font-weight: bold;
  font-size: 16px;
}

.offer-btn {
  margin: 22px 0;
}

.offer-btn a {
  transition: 0.3s all ease-in-out;
  border: 1px solid #d90268;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.offer-btn a i {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  font-size: 20px;
}

.offer-btn a:hover {
  background: #d90268;
  color: #fff;
}

.offer-item-link {
  margin: 10px 10px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px 0 10px 10px;
}

.offer-item-link::-webkit-scrollbar {
  width: 5px;
}

.offer-item-link::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.offer-item-link::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
}

.offer-item-link .swiper-slide {
  width: 100% !important;
}

.offer-item-link .swiper-wrapper {
  flex-direction: column !important;
  transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -moz-transform: translate3d(0px, 0px, 0px) !important;
  -ms-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate3d(0px, 0px, 0px) !important;
}

.offer-item-link-item {
  margin-bottom: 10px;
  background: #f4f5f9;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.offer-item-link-item h6 {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.offer-item-link .swiper-slide-thumb-active .offer-item-link-item {
  border-right: 4px solid #d90268;
}

.swiper-slide:not(.swiper-slide-active) .offer-item {
  opacity: 0;
}

/* end offer */

@media only screen and (max-width: 992px) {
  .offer-item {
    padding: 30px 10px;
  }
}

@media only screen and (max-width: 576px) {
  .cart-empty-offer a {
    display: block;
    border: none;
  }
  .see-all-offer {
    white-space: nowrap;
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .summary-offer {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
  .see-all-offer {
    white-space: nowrap;
    font-size: 12px;
  }
}
