.varanty-product-select {
    margin-top: 15px;
    width: 100%;
    border: 1px #dcdcdc solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.varanty-product-select .varanty-product-item {
    display: inline-block;
    width: 100%;
    height: auto;
    border-bottom: 1px #f1f1f1 solid;
    padding: 10px;
}

.varanty-product-select .varanty-product-item .varanty-name {
    font-size: 14px;
    margin-top: 10px;
}

.varanty-product-select .varanty-product-item .price {
    cursor: pointer;
    display: block;
    padding: 0px 10px 0px 10px;
    text-align: start;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}

.varanty-product-select .varanty-product-item .price del {
    display: block;
    font-size: 12px;
    color: #a4a4a4;
    text-decoration: line-through;
}

.varanty-product-select .varanty-product-item .price ins {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #1e294d;
}

.varanty-product-select .varanty-product-item .add-to-cart {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background: #1e294d;
    float: left;
    margin-top: 10px;
}

.varanty-product-select .varanty-product-item .add-to-cart:hover {
    background: #233462;
}

.single-product .product .threeDModal {
    position: absolute;
    top: 30;
    z-index: 8;
}

.bime {
    background: #f1f1f1;
    margin-top: 15px;
    width: 100%;
    border: 1px #dcdcdc solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.bime .bime-item {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px;
}

.bime .bime-item .bime-name {
    font-size: 14px;
    margin-top: 10px;
}

.bime .bime-item .price {
    cursor: pointer;
    display: block;
    padding: 0px 10px 0px 10px;
    text-align: start;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}

.bime .bime-item .price del {
    display: block;
    font-size: 12px;
    color: #a4a4a4;
    text-decoration: line-through;
}

.bime .bime-item .price ins {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #1e294d;
    margin-top: 10px;
}

.bime .bime-item .select-bime {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background: #1e294d;
    float: left;
    margin-top: 10px;
}

.bime .bime-item .select-bime:hover {
    background: #233462;
}