 .quantity-product {
     display: flex;
     align-items: center;
     justify-items: center;
 }
 
 .quantity-product .title {
     font-weight: 600;
     margin-left: 10px;
 }
 
 .quantity-product .quantity {
     position: relative;
     float: left;
     font-size: 18px;
     border: 1px #dcdcdc solid;
     border-radius: 5px;
 }
 
 .quantity-product .quantity .qty {
     width: 80px;
     height: 35px;
     border-radius: 5px;
     text-align: center;
 }
 
 .quantity-product .quantity .qtyminus {
     right: 0;
 }
 
 .quantity-product .quantity .qtyplus {
     left: 0;
 }
 
 .quantity-product .quantity .button {
     position: absolute;
     top: 50%;
     padding: 8px;
     background: none;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -o-transform: translateY(-50%);
 }
 
 .quantity-product .quantity .button:hover {
     color: #1e294d;
 }