.returned-btn {
  display: block;
  font-size: 18px;
  float: left;
  margin-top: 20px;
  color: #fff;
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  background: #d90268;
}
.returned-btn:hover {
  background: #233462;
}

.returned-step {
  display: block;
  font-size: 18px;
  float: left;
  margin-top: 20px;
  color: #fff;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  font-size: 13px;
  background: #d90268;
}
.returned-step:hover {
  background: #233462;
}
.step-rtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rtn-box {
  display: block;
  font-size: 18px;
  float: left;
  margin-top: 20px;
  color: #000;
  font-size: 13px;
}

.rtn-box .item {
  position: relative;
  display: block;
  padding-right: 30px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #000;
}

.rtnc-box .item:hover {
  background: #f1f1f1;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.rtn-box .item input {
  position: absolute;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.rtn-box .item .tick {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 50%;
  right: 0;
  text-align: center;
  background: #999;
  border-radius: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.rtn-box .item .tick i {
  display: none;
  line-height: 25px;
  font-size: 12px;
  color: #ffffff;
}

.rtn-box .item input:checked ~ .tick i {
  display: block;
}

.rtn-box .item input:checked ~ .tick {
  background: #d90268;
}
.product-rtn-box  {
  display: flex;
  flex-direction:column
}

.product-rtn-box .product-datails {
  display: flex; 
  align-items: end;
}
.product-rtn-box .product-datails img {
  width: 75px;
  height: auto;
}
.product-rtn-box .product-datails .product-title {
  font-size: 16px;
  font
}
.product-rtn-box .product-datails .product-varable {
  display: flex;
  flex-direction: column;
  margin: 8px;
  font-size: 13px;
}
.product-rtn-box .product-datails .product-price {

  font-size: 13px;
}

.product-rtn-box .product-rtn-comment{
  display: flex;
  flex-direction: row;
  border-top: #dcdcdc 1px solid;
   margin: 10px;
    padding: 10px;
}
.product-rtn-box .product-rtn-comment span{
  margin: 8px;
  font-size: 13px;
}



.product-rtn-box form .product-rtn-comment .product-rtn-reason  {
  flex-grow: 1;
}
.form-control{
  font-size:0.8rem !important;
  padding: 0.575rem 0.95rem !important;
}
.product-rtn-box form .product-rtn-comment .quantity-product {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-items: center;
}

.product-rtn-box form .product-rtn-comment .quantity-product .title {
  font-weight: 600;
  margin-left: 10px;
}

.product-rtn-box form .product-rtn-comment .quantity-product .quantity {
  position: relative;
  float: left;
  font-size:0.9rem;
  border: 1px #dcdcdc solid;
  border-radius: 5px;
}

.product-rtn-box form .product-rtn-comment .quantity-product .quantity .qty {
  width: 80px;
  height: 38px;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  text-align: center;
}

.product-rtn-box form .product-rtn-comment .quantity-product .quantity .qtyminus {
  right: 0;
}

.product-rtn-box form .product-rtn-comment .quantity-product .quantity .qtyplus {
  left: 0;
}

.product-rtn-box form .product-rtn-comment .quantity-product .quantity .button {
  position: absolute;
  top: 50%;
  padding: 8px;
  background: none;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.product-rtn-box form .product-rtn-comment .quantity-product .quantity .button:hover {
  color: #ff5858;
}

.product-rtn-box form .product-rtn-comment .state-box {
  position: relative;
  padding: 15px
}

.product-rtn-box form .product-rtn-comment .state-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}