.sbd1 {
  width: 100%;
  background: #f9f9f9;
  border-radius: 15px;
  display: flex;
  padding: 24px;
  margin: 8px;
  box-shadow: 0px 0px 100px 0px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 0px 100px 0px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0px 0px 100px 0px rgb(0 0 0 / 20%);
  -o-box-shadow: 0px 0px 100px 0px rgb(0 0 0 / 20%);
}
@media (max-width: 840px) {
  .sbd1 {
    flex-direction: column;
  }
}

.sbd2 {
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 1000px) {
  .sbd2 {
    flex-shrink: 0.5;
  }
}

.sbd3-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 4px;
}
.sbd3 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 4px;
  background: #fff;
  border-radius: 10px;
  height: 100%;
}

.sbd3 h3 {
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
}
.sbd3 h4 {
  font-size: 16px;
  padding: 4px;
  font-weight: bold;
}
.sbd3 span {
  font-size: 16px;
  padding: 4px;
  font-weight: bold;
  color: #d1d1d1;
}
.sbd3 h6 {
  font-size: 16px;
  padding: 4px;
  font-weight: bold;
}

.sbd3 p {
  font-size: 12px;
  margin: 10px;
}

.sbd3-content .sbd3-gift {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 4px;
  background: #fff;
  border-radius: 10px;
  align-items: flex-start;
}

.sbd3-content .sbd3-gift .gift-title span {
  font-size: 14px;
}
.sbd3-content .sbd3-gift .gift-title img {
  width: 30px;
  height: auto;
}
.sbd3-content .sbd3-gift .gift-body {
  width: 100%;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  
ju
}
.sbd3-content .sbd3-gift .gift-body a {
  font-size: 14px;
}
.sbd3-content .sbd3-gift .gift-body img {
  width: 50px;
  height: auto;
}
.sbd3-content .sbd3-gift .gift-body span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.sbd4 {
  min-width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sbd4 .e-con-inner {
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  flex-direction: col;
}
.sbd4 .e-con-inner span {
  font-size: 12px;
}

.sbd4 .e-con-inner img {
  width: 64px;
  height: 54px;
}




/*----------   countdown ----------*/

.countdown-sabad{
  background: #233462;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  
}

.countdown-main {
  background: #233462;
  position: absolute;
  width: 100%;
  top: 0;
  border-radius: 10px 10px 0 0;
  margin: -1px;
  height: 50px;
  padding-top: 5px;
  padding-button: 5px;
  margin-button: 50px;
  display: flex;
  justify-content: center;
  item-content: center;
}

.countdown {
  text-transform: uppercase;
  display: flex;
}

.countdown div {
  display: inline-block;
}

.countdown div span {
  display: block;
  text-align: center;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 3px;
}

.countdown-container .seconds-bottom {
  color: #c00;
}

.countdown-container .countdown-heading {
  font-size: 12px;
  font-weight: bold;
  margin: 3px;
  color: #fff;
}

.countdown-container .countdown-value {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 30px;
  height: auto;
  color: #233462;
  border-radius: 5px;
  font-weight: bold;
}

/*********/


.sbd5 {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.sbd5 .sbd6 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  margin-top: 8px;
  width: 100%;
}
.sbd5 .sbd6 span {
  margin-lef: 10px;
}


@media (max-width: 840px) {
  .sbd5 {
    display: flex;
    width: 95%;
    position: fixed;
    bottom: 15px;
    left: 10px;
    right: 10px;
    z-index: 8;
    box-shadow: 5px 2px 31px rgba(0, 0, 0, 0.17) !important;
  }
  .sbd5 .sbd6 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sbd5 .price-product {
    padding: 10px 0;
    text-align: center;
  }
}
.sbd5 .price-product {
  padding: 10px 0;
  text-align: left;
}

.sbd5 .price-product .title {
  margin-bottom: 15px;
  font-weight: 600;
}

.sbd5 .price-product .price {
  text-align: left;
}
.sbd5 .price-product .price del {
  display: block;
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: line-through;
}

.sbd5 .price-product .price ins {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #d90268;
}

.sbd5 .price-product-v {
  padding: 10px 0;
  display: flex;
  justify-content: end;
}

.sbd5 .price-product-v .title {
  margin-bottom: 15px;
  font-weight: 600;
}

.sbd5 .price-product-v .price {
  text-align: left;
}

.sbd5 .price-product-v .price del {
  display: block;
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: line-through;
}

.sbd5 .price-product-v .price ins {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #d90268;
}
.sbd5 .sale-button-sbd a {
  display: block;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background: #d90268;
  margin: 8px;
}

.sbd5 .sale-button-sbd a:hover {
  background: #233462;
}

.sbd5 .sale-button-sbd-bas {
  display: none;
}

.sbd5 .sale-button-sbd-bas a {
  display: block;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  color: #455a64;
}

.sbd5 .sale-button-sbd-bas i {
  margin-left: 5px;
  color: #455a64;
}

.sbd5 .sale-button-sbd-bas a:hover {
  color: #d90268;
}

.sbd5 .sbd-add-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}
.sbd5 .count-sdb {
  font-size: 13px;
  padding: 4px;
}

.sbd-product {
  background: #f9f9f9;
  margin-top: 15px;
  width: 100%;
  border: 1px #dcdcdc solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sbd-product .product-item {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 10px;
}
.sbd-product .product-item img {
  width: auto;
  height: 70px;
}

.sbd-product .product-item .product-name {
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}

.sbd-product .product-item .product-fu {
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}

.sbd-product .product-item .price {
  cursor: pointer;
  display: block;
  padding: 0px 10px 0px 10px;
  text-align: start;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
}

.sbd-product .product-item .price del {
  display: block;
  font-size: 12px;
  color: #a4a4a4;
  text-decoration: line-through;
}

.sbd-product .product-item .price ins {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #1e294d;
  margin-top: 10px;
}

.sbd-product .product-item .product {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  float: left;
}

.sbd-product .product-item .select-product {
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background: #d90268;
  float: left;
  margin-top: 10px;
}

.sbd-product .product-item .select-product:hover {
  background: #1e294d;
}
.sbd-des {
  margin-bottom: 20px;
  background: #f9f9f9;
  margin-top: 15px;
  width: 100%;
  border: 1px #dcdcdc solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sbd-des p {
  font-size: 14px;
}

.sabad-product {
  background: #f9f9f9;
  margin-top: 15px;
  width: 100%;
  border: 1px #dcdcdc solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.sbd2 img {
  width: auto;
  height: auto;
}

.sabad-product .product-name {
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}
.sabad-product .product-description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}

.sabad-product .select-product {
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background: #d90268;
  float: left;
  margin-top: 10px;
}

.sabad-product .select-product:hover {
  background: #1e294d;
}

.sabad-product .price {
  cursor: pointer;
  display: block;
  padding: 0px 10px 0px 10px;
  text-align: start;
  margin-top: 10px;
}

.sabad-product .price del {
  display: block;
  font-size: 12px;
  color: #a4a4a4;
  text-decoration: line-through;
}

.sabad-product .price ins {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #1e294d;
  margin-top: 10px;
}
