/*----------serach-------*/

.header-mobile .search-header .search-result {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 4px;
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  z-index: 100;
  border: 1px solid #dcdcdc;
  border-top: none;
  display: none;
}

.header-mobile .search-header .search-result ul.search-result-list {
  margin-bottom: 30px;
  display: none;
}

.header-mobile .search-header .search-result ul.search-result-list li {
  margin-bottom: 10px;
  display: inline-block;
}

.header-mobile .search-header .search-result ul.search-result-list li a {
  color: #000;
  line-height: 30px;
  font-size: 14px;
}

.header-mobile
  .search-header
  .search-result
  ul.search-result-list
  li
  a
  .btn-remove-search {
  border-radius: 50px;
  float: left;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 14px;
}

.header-mobile .search-header .search-result ul.search-result-most-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
}

.header-mobile .search-header .search-result ul.search-result-most-view li {
  margin-left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 4px 2px 4px;
  border-radius: 10px;
  border: 1px solid #e0e0e2;
}

.header-mobile .search-header .search-result ul.search-result-most-view li a {
  color: #424750;
  font-size: 9px;
  font-size: 0.786rem;
  line-height: 23.87px;
}

.header-mobile .search-header .search-result ul.search-result-most-view li a i {
  margin-right: 4px;
  color: #a1a3a8;
  font-size: 1rem;
  line-height: 1.375;
  vertical-align: middle;
}

.header-mobile .search-box.show-result form input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.header-mobile .search-header .search-result .search-results-list {
  letter-spacing: -0.4px;
  font-size: 12px;
  font-size: 0.857rem;
  line-height: 1.833;
  list-style: none;
  font-weight: 700;
}

.header-mobile .search-header .search-result .search-results-list a {
  color: #474747;
  display: block;
  padding: 0;
  margin: 0;
}

.header-mobile .search-header .search-result .search-results-list a img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

/*----------serach-------*/
