#head-title .title h5:after {
    background: #d90268;
}

#tops-button:hover {
    background: #d90268;
}

.owl-carousel.nav-arrow .owl-nav button:hover {
    color: #d90268;
    border-color: #d90268;
}

.address-bar .box-address .item a:hover {
    color: #d90268;
}

.header .tophead .th-menu .menu-item a:hover {
    color: #d90268;
}

.middle-menu .header-left .hl-item:hover .hl-btn {
    color: #d90268;
}

.middle-menu .header-left .h-cart .cart-number {
    background: #d90268;
}

.middle-menu .header-left .h-cart .cart-box .product-item .right .remove:hover {
    color: #d90268;
}

.middle-menu .header-left .h-cart .cart-box .product-item .left .title:hover {
    color: #d90268;
}

.middle-menu .header-left .h-cart .cart-box .pb-total .total-price .tp-price {
    color: #d90268;
}

.middle-menu .header-left .h-cart .cart-box .pb-total .tp-button .btn-buy {
    background: #d90268;
}

.middle-menu .header-left .hl-item:hover .btn-account .hat-link {
    color: #d90268;
}

.middle-menu .header-left .h-account .account-box .ab-menu .abm-item:hover .item-link {
    color: #d90268;
}

.middle-menu .header-left .h-account .account-box .ab-menu .abm-item .btn-out {
    background: #d90268;
}

.main-menu .holder-menu .menu .menu-item .menu-text:after {
    background: #d90268;
}

.main-menu .holder-menu .menu .menu-item:hover .menu-text {
    color: #d90268;
}

.menu .mega-menu .category-list .category-item.active .link {
    color: #d90268;
}

.menu .mega-menu .category-list .category-item .sub-menu .sub-title:after {
    background: #d90268;
}

.menu .mega-menu .category-list .category-item .sub-menu .sub-item .s-link:hover {
    color: #d90268;
}

.menu .menu-item .submenu-tow .submenu-item a:hover {
    color: #d90268;
}

.slider .owl-carousel .owl-dots .owl-dot.active span {
    background: #d90268;
}

.slider .owl-carousel .owl-dots .owl-dot:hover span {
    background: #d90268;
}

.category .category-holder .category-item .item-holder .item-link .link {
    background: #d90268;
}

.new-products .holder-item .product-info .title a:hover {
    color: #d90268;
}

.new-products .holder-item .product-info .product-bottom .pric ins {
    color: #d90268;
}

.new-products .products .holder-item .product-info .product-actions .action-holder .action-item a:hover {
    color: #d90268;
}

.new-products .products .holder-item .onsale {
    background: #d90268;
}

.popular-products .products .item-product .product-info .title-box a:hover {
    color: #d90268;
}

.popular-products .products .item-product .product-info .product-bottom .pric ins {
    color: #d90268;
}

.popular-products .products .item-product .product-info .actions .action-holder .action-item a:hover {
    color: #d90268;
}

.popular-products .products .item-product .discount {
    background: #d90268;
}

.popular-products .products .item-product .discount-full {
    background: #d90268;
}

.amazing-offer .amazing-right .info-pic .actions .action-holder .action-item a:hover {
    color: #d90268;
}

.amazing-offer .amazing-right .product-item .product-info .title .text:hover {
    color: #d90268;
}

.amazing-offer .amazing-right .product-item .product-info .info-section .info-box .info-item:before {
    background: #d90268;
}

.amazing-offer .amazing-right .product-item .item-left .pric ins {
    color: #d90268;
}

.amazing-offer .amazing-right .product-item .discount {
    background: #d90268;
}

.amazing-offer .moment .top-moment .time-line:before {
    background: #d90268;
}

.amazing-offer .moment .moment-item .moment-info .title-info p:hover {
    color: #d90268;
}

.amazing-offer .moment .moment-item .moment-info .pric ins {
    color: #d90268;
}

.blog .blog-box .blog-item .info-blog .title:hover {
    color: #d90268;
}

.footer .footer-middle .links .link-box .link-item a:hover {
    color: #d90268;
}

.footer .footer-middle .middle-left .newsletter form button {
    background: #d90268;
}

.footer .footer-middle .middle-left .social .social-box .social-item a:hover .fab {
    color: #d90268;
}

.footer .copyright p a:hover {
    color: #d90268;
}

.single-product .product .gallery-product #big-pic.owl-theme .owl-next:hover,
#big-pic.owl-theme .owl-prev:hover {
    color: #d90268;
    border-color: #d90268;
}

.single-product .product .info-product .info-title .availability p {
    color: #d90268;
}

.single-product .product .info-product .info-middle .comment a:hover {
    color: #d90268;
}

.single-product .product .info-product .info-middle .question a:hover {
    color: #d90268;
}

.single-product .product .info-product .info-section .info-box .info-item:before {
    background: #d90268;
}

.single-product .product .info-product .info-section .info-box .show-more a:hover {
    color: #d90268;
}

.single-product .product .sales-info .color-product .color-box .color {
    background: #d90268;
}

.single-product .product .sales-info .color-product .color-box .color:before {
    border-color: #d90268;
}

.single-product .product .sales-info .quantity-product .quantity .button:hover {
    color: #d90268;
}

.single-product .product .sales-info .price-product .price ins {
    color: #d90268;
}

.single-product .product .sales-info .sale-button a {
    background: #d90268;
}

.tabs-product .tabs .tabs-nav .nav-item a:hover {
    color: #d90268;
}

.tabs-product .tabs .tabs-nav .nav-item.tab-active a {
    color: #d90268;
}

.tabs-product .tabs .tabs-stage .item-tab .rating .avg-rating .num-rating {
    color: #d90268;
}

.tabs-product .tabs .tabs-stage .item-tab .rating .ratings-list .ratings-box .rating-item .rating-bottom .rating-general:after {
    background: #d90268;
}

.tabs-product .tabs .tabs-stage .item-tab .comment .comment-box form .top-box input:focus {
    border-color: #d90268;
}

.tabs-product .tabs .tabs-stage .item-tab .comment .comment-box form textarea:focus {
    border-color: #d90268;
}

.tabs-product .tabs .tabs-stage .item-tab .comment .comment-box form button:hover {
    background: #d90268;
}

.questions .questions-box .questions-item .question .bottom .reply a:hover {
    color: #d90268;
}

.shop-product .shop .filter .category .category-box .category-menu .item.active .item-text .text {
    color: #d90268;
}

.shop-product .shop .filter .category .category-box .category-menu .item .item-text:hover {
    color: #d90268;
}

.shop-product .shop .filter .category .category-box .category-menu .item.active .item-text .item-arrow {
    color: #d90268;
}

.shop-product .shop .filter .category .category-box .category-menu .item .submenu li a:before {
    background: #d90268;
}

.shop-product .shop .filter .pric .filter-price .price-field input[type=range]::-webkit-slider-thumb {
    background: #d90268;
}

.shop-product .shop .filter .pric .filter-price .price-field input[type=range]::-moz-range-thumb {
    background: #d90268;
}

.shop-product .shop .filter .pric .filter-price .price-field input[type=range]::-ms-thumb {
    background: #d90268;
}

.shop-product .shop .filter .pric .filter-price .price-field input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.8px #d90268;
}

.shop-product .shop .filter .pric .filter-price .price-field input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.8px #d90268;
}

.shop-product .shop .filter .pric .slider .progress {
    background: #d90268;
}

.shop-product .shop .filter .pric input[type="range"]::-webkit-slider-thumb {
    background: #d90268;
}

.shop-product .shop .filter .pric input[type="range"]::-moz-range-thumb {
    background: #d90268;
}

.shop-product .shop .filter .pric .price-button a {
    background: #d90268;
}

.shop-product .shop .filter .color .color-box .color-item {
    background: #d90268;
}

.shop-product .shop .filter .color .color-box .color-item:before {
    border-color: #d90268;
}

.shop-product .shop .filter .button-filter a {
    background: #d90268;
}

.shop-product .shop .shop-content .tabs .tabs-nav .nav-item a:hover {
    color: #d90268;
}

.shop-product .shop .shop-content .tabs .tabs-nav .nav-item.tab-active a {
    color: #d90268;
}

.shop-product .shop .shop-content .tabs .tabs-stage .item-tab .products .item .product-info .title-box a:hover {
    color: #d90268;
}

.shop-product .shop .shop-content .tabs .tabs-stage .item-tab .products .item .product-info .product-bottom .pric ins {
    color: #d90268;
}

.shop-product .shop .shop-content .tabs .tabs-stage .item-tab .products .item .discount {
    background: #d90268;
}

.pagination .pagination-box .item a:hover {
    color: #d90268;
    border-color: #d90268;
}

.blog-page .blog .sidebar .search form button:hover {
    color: #d90268;
}

.blog-page .blog .sidebar .category .category-box .item a:hover i {
    background: #d90268;
}

.blog-page .blog .sidebar .category .category-box .item a:hover .number {
    color: #d90268;
}

.blog-page .blog .sidebar .tags .tags-box .item a:hover {
    background: #d90268;
}

.blog-page .blog .blog-content .item .info .text a:hover {
    color: #d90268;
}

.blog-page .blog .blog-detail .blog-inner .description h5 a:hover {
    color: #d90268;
}

.blog-page .blog .blog-detail .comment-form form .top-box input:focus {
    border-color: #d90268;
}

.blog-page .blog .blog-detail .comment-form form textarea:focus {
    border-color: #d90268;
}

.blog-page .blog .blog-detail .comment-form form button:hover {
    background: #d90268;
}

.blog-page .blog .blog-detail .comments .comments-box .comments-item .comment .bottom .reply a:hover {
    color: #d90268;
}

.compare .content .title .add-product a:hover {
    color: #d90268;
}

.compare .content .products .item .name a:hover {
    color: #d90268;
}

.compare .content .products .item .button .add-to-cart {
    background: #d90268;
}

.shop-cart .cart .products-cart .product-box table .price {
    color: #d90268;
}

.shop-cart .cart .products-cart .product-box table .quantity .button:hover {
    color: #d90268;
}

.shop-cart .cart .products-cart .product-box table .remove {
    background: #d90268;
}

.shop-cart .cart .price-cart .info .price .total .value {
    color: #d90268;
}

.shop-cart .cart .price-cart .services .services-box .item i {
    color: #d90268;
}

.info-pyment .info-box form input:focus {
    border-color: #d90268;
}

.info-pyment .info-box form select:focus {
    border-color: #d90268;
}

.info-pyment .info-box form .item textarea:focus {
    border-color: #d90268;
}

.pyment .pyment-box .payment-method .item a .icon {
    color: #d90268;
}

.dashboard-profile .profile .right-box .profile-box .buttons a {
    background: #d90268;
}

.dashboard-profile .profile .right-box .profile-menu .menu .item:hover a {
    color: #d90268;
}

.dashboard-profile .profile .right-box .profile-menu .menu .item.active a {
    color: #d90268;
}

.dashboard-profile .profile .profile-content .stats .item.bg-color1 {
    background: #d90268;
}

.dashboard-profile .profile .profile-content .info .title .button a:hover {
    color: #d90268;
}

.dashboard-profile .profile .profile-content .info .favorite .favorite-box .item .name .price {
    color: #d90268;
}

.dashboard-profile .profile .profile-content .orders .title .button a:hover {
    color: #d90268;
}

.dashboard-profile .profile .profile-content .orders .order-box table tr td .button {
    background: #d90268;
}

.order-content .order-box table .item td a {
    background: #d90268;
}

.favorite-content .item .info .name a:hover {
    color: #d90268;
}

.favorite-content .item .info .button .view {
    background: #d90268;
}

.edit-content .edit-box .item input:focus {
    border-color: #d90268;
}

.edit-content .edit-box form button {
    background: #d90268;
}

.login .content form input:focus {
    border-color: #d90268;
}

.login .content form .forget a:hover {
    color: #d90268;
}

.login .content form button {
    background: #d90268;
}

.login .content .bottom-link a:hover {
    color: #d90268;
}

.mobile-menu .mobile-content .search form input:focus {
    border-color: #d90268;
}

.mobile-menu .mobile-content .menu .item a:hover {
    color: #d90268;
}

.mobile-menu .mobile-content .category li.active>a {
    color: #d90268;
}

.mobile-menu .mobile-content .category .item .sub-menu li ul li a:hover {
    color: #d90268;
}

.contact .contact-box .con-item i {
    color: #d90268;
}

.contact .contact-form .holder form .form-group input:focus,
.contact .contact-form .holder form .form-group textarea:focus {
    border-color: #d90268;
}

.contact .contact-form .holder form .form-group button {
    background: #d90268;
}

.about-us .about-content .title p {
    color: #d90268;
}

.faq .faq-content .active {
    color: #d90268;
}

.faqs-title:hover {
    color: #d90268;
}