@font-face {
  font-family: Potk-Black;
  src: url("fonts/ttf/Potk-Black.ttf") format("woff");
}

.color-p {
  color: #be012f;
}

h1 {
  font-family: Potk-Black;
  color: #fff;
  font-size: 50px;
}
h1 strong {
  font-family: Potk-Black;
  color: #fff;
  font-size: 95px;
}
h2 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
h3 {
  color: #333;
  font-size: 16px;
  font-weight: 900;
}
h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}
.m {
  margin: 4px;
}

body {
  font-family: Bakh;
  overflow: auto;
  direction: rtl;
  text-align: right;
  cursor: default;
  background-color: rgb(181, 181, 181);
}
a {
  text-decoration: none;
}
.header-y {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-y img {
  width: 30px;
}
.header-y space {
  font-size: 16px;
}

.client_btn {
  font-size: 12px;
  color: #000;
  background-color: #be012f;
  padding: 8px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-wrap: nowrap;
  cursor: pointer;
  z-index: 1000;
}

.client_btn:hover {
  color: #fff;
  background-color: rgb(225, 0, 56);
}

.client_btn:hover a {
  color: #fff;
}

.client_btn a {
  color: #fff;
  transition: all 0.3s ease;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 14px;
  color: #be012f;
  background: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  background-color: #fff;
}

input::placeholder {
  color: #be012f;
  font-size: 12px;
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  text-wrap: nowrap;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff000;
}

button:active {
  background-color: #ff000;
}

.section-one {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.section-two {
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
  z-index: 1000;
}
.section-two-header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.clamp-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 1.5em;
  line-height: 1.5em;
}

/*----------  Products ----------*/

.list-products .owl-carousel .owl-stage {
  padding: 20px 0;
}

.list-products .holder-item {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 10px;
  border-radius: 30px;
  background: #be012f;
  border: 1px #be012f solid;
  padding: 10px 0px;
}

.list-products .holder-item:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}

.list-products .holder-item .product-pic {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-products .holder-item .product-pic img {
  width: 150px;
}

.list-products .holder-item .product-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  gap: 6px;
}

.list-products .holder-item .product-info .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  align-self: center;
}
.list-products .holder-item .product-info .model {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  align-self: center;
  font-weight: bold;
}

.list-products .holder-item .product-info .title a {
  display: block;
  font-size: 14px;
}
.list-products .holder-item .product-info .title a:hover {
  color: #be012f;
}

.list-products .holder-item .product-info .pric del {
  display: block;
  font-size: 13px;
  color: #a4a4a4;
  text-decoration: line-through;
}

.list-products .holder-item .product-info .pric {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  align-self: center;
  font-weight: lighter;
}
.list-products .holder-item .product-info .show {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list-products .holder-item .product-info .show button {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 14px;
  text-wrap: nowrap;
}
.list-products .holder-item .product-info .show span {
  background-color: #fff;
  color: #be012f;
}

/*---------- End Products ----------*/

.banner-on {
  margin-top: 30px;
}
.banner-on img {
  border-radius: 10px;
  width: 100%;
}
.banner-two {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.banner-two img {
  border-radius: 10px;
  margin: 6px;
  width: 100%;
}

.bg-anar img {
  width: 400px;
}

.section-three {
  background-color: hsla(0, 0%, 100%, 0.3);

  border-radius: 10px;
  margin-top: 30px;
  padding: 15px;
  z-index: 1000;
}
.section-three-one {
  display: flex;
  justify-content: center;
}
.section-three-two {
  display: flex;
  flex-direction: column;
}
.section-three-two p {
  color: black;
  text-align: justify;
  font-size: 14px;
  font-weight: 600;
  text-justify: inter-word;
}
.section-three-three {
  background-color: #be012f;
  color: #dcdcdc;
  padding: 8px 12px;
  border-radius: 30px;
  width: fit-content;
}
.section-three-three img {
  width: 20px;
}
.section-three-three span {
  font-size: 12px;
  font-weight: bold;
}
.section-three-two-img {
  width: 150px;
  margin: 20px 50px;
}

.section-four-bg {
  background-color: #333;
  border-radius: 15px 15px 0 0;
  margin-top: 30px;
  padding: 15px;
  color: #fff;
  z-index: 1000;
}
.section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-four-h {
  display: flex;
  justify-content: center;
}

.copyright {
  background-color: #be012f;
  display: flex;
  justify-content: center;
  color: #fff;
  z-index: 1000;
  font-size: 12px;
  padding: 20px 10px;
  text-align: justify;
  text-justify: inter-word;
}
.bg-one {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 600px;
}

@media (max-width: 768px) {
  .bg-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
  }
  .bg-anar img {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .bg-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
  }
  .bg-anar img {
    width: 250px;
  }
}
